*{
    margin: 0px;
    padding: 0px;
}
body{
    position: relative;
}
h1{
    font-size: 2em;
}
li{
    list-style: none;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    font-size: xx-large;
    grid-template-areas:
    "kanji reading reading reading reading"
    "example example example example example";
}
.kanji{
    grid-area: kanji;
}
.reading{
    grid-area: reading;
}
.example{
    grid-area: example;
}
#contentList{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
p{
    font-size: xx-large ;
}
tr{
    margin: 20px;
}
